#### This ipynb file uses the tmdb API to gather data for movies in 2018, 2019, 2020 n order to add to our data

In [1]:
import pandas as np
import pandas as pd
from tmdbv3api import TMDb
from tmdbv3api import Movie
import json
import requests
import bs4 as bs

#### Extracting features of 2018 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
frame1 = pd.read_html(link, header=0)[2]
frame2 = pd.read_html(link, header=0)[3]
frame3 = pd.read_html(link, header=0)[4]
frame4 = pd.read_html(link, header=0)[5]

In [3]:
df = (
    frame1.append(
        frame2.append(
            frame3.append(
                frame4,
                ignore_index=True
            ),
            ignore_index=True
        ),
        ignore_index=True
    )
)

df.head()

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures / GFM Films,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures / GFM Films,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN

In [4]:
# Instantiate TMDB() and input api
tmdb = TMDb()
tmdb.api_key = '22c75dd7aa1d489232ff6e21c26c997e'

In [5]:
# Instantiate Movie and get_genre()
tmdb_movie = Movie()
def get_genre(z):
    genres = []
    result = tmdb_movie.search(z)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [ ]:
df['genres'] = df['Title'].map(lambda z: get_genre(str(z)))

In [ ]:
# Make the df_2018 to work with
# Extract [Title, Cast and crew, genres] fron df
data_2018 = df[['Title','Cast and crew','genres']]

Its time to get director and actors names in order to uniformly make dataframes as before

In [ ]:
# Director function
def make_director(z):
    if " (director)" in z:
        return z.split(" (director)")[0]
    elif " (directors)" in x:
        return z.split(" (directors)")[0]
    else:
        return z.split(" (director/screenplay)")[0]

In [ ]:
data_2018['director_name'] = data_2018['Cast and crew'].map(lambda z: make_director(z))

In [ ]:
def make_actor1(z):
    return ((z.split("screenplay); ")[-1]).split(", ")[0])

def make_actor2(z):
    if len((z.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((z.split("screenplay); ")[-1]).split(", ")[1])

def make_actor3(z):
    if len((z.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((z.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
# Create columns for actors in the data_2018
data_2018['actor_1_name'] = data_2018['Cast and crew'].map(lambda z: make_actor1(z))
data_2018['actor_2_name'] = data_2018['Cast and crew'].map(lambda z: make_actor2(z))
data_2018['actor_3_name'] = data_2018['Cast and crew'].map(lambda z: make_actor3(z))

# Rename Title column
data_2018 = data_2018.rename(columns={'Title':'movie_title'})

In [ ]:
# Extract the required features into a new dataframe
df18 = data_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

# Remove null values
df18['actor_2_name'] = df18['actor_2_name'].replace(np.nan, 'unknown')
df18['actor_3_name'] = df18['actor_3_name'].replace(np.nan, 'unknown')

# change movie_titles to lower case
df18['movie_title'] = df18['movie_title'].str.lower()

# Create a comb coumn
df18['comb'] = df18['actor_1_name'] + ' ' + df18['actor_2_name'] + ' '+ df18['actor_3_name'] + ' '+ df18['director_name'] +' ' + df18['genres']

In [ ]:
df18.head()

#### Extracting features of 2019 movies from Wikipedia

In [ ]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
frame1 = pd.read_html(link, header=0)[2]
frame2 = pd.read_html(link, header=0)[3]
frame3 = pd.read_html(link, header=0)[4]
frame4 = pd.read_html(link, header=0)[5]

In [ ]:
df = (
    frame1.append(
        frame2.append(
            frame3.append(
                frame4,
                ignore_index=True
            ),
            ignore_index=True
        ),
        ignore_index=True
    )
)

df.head()

In [ ]:
df['genres'] = df['Title'].map(lambda z: get_genre(str(z)))

In [ ]:
# Make the df_2019 to work with
# Extract [Title, Cast and crew, genres] fron df
data_2019 = df[['Title','Cast and crew','genres']]

In [ ]:
# Director function
def make_director(z):
    if " (director)" in z:
        return z.split(" (director)")[0]
    elif " (directors)" in x:
        return z.split(" (directors)")[0]
    else:
        return z.split(" (director/screenplay)")[0]

In [ ]:
data_2019['director_name'] = data_2019['Cast and crew'].map(lambda z: make_director(z))

In [ ]:
def make_actor1(z):
    return ((z.split("screenplay); ")[-1]).split(", ")[0])

def make_actor2(z):
    if len((z.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((z.split("screenplay); ")[-1]).split(", ")[1])

def make_actor3(z):
    if len((z.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((z.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
# Create columns for actors in the data_2018
data_2019['actor_1_name'] = data_2019['Cast and crew'].map(lambda z: make_actor1(z))
data_2019['actor_2_name'] = data_2019['Cast and crew'].map(lambda z: make_actor2(z))
data_2019['actor_3_name'] = data_2019['Cast and crew'].map(lambda z: make_actor3(z))

# Rename Title column
data_2019 = data_2019.rename(columns={'Title':'movie_title'})

In [ ]:
# Extract the required features into a new dataframe
df19 = data_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

# Remove null values
df19['actor_2_name'] = df19['actor_2_name'].replace(np.nan, 'unknown')
df19['actor_3_name'] = df19['actor_3_name'].replace(np.nan, 'unknown')

# change movie_titles to lower case
df19['movie_title'] = df19['movie_title'].str.lower()

# Create a comb coumn
df19['comb'] = df19['actor_1_name'] + ' ' + df19['actor_2_name'] + ' '+ df19['actor_3_name'] + ' '+ df19['director_name'] +' ' + df19['genres']

In [ ]:
df19.head()

#### Extracting features of 2020 movies from Wikipedia

In [ ]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')
tables = soup.find_all('table',class_='wikitable sortable')

In [ ]:
frame1 = pd.read_html(str(tables[0]))[0]
frame2 = pd.read_html(str(tables[1]))[0]
frame3 = pd.read_html(str(tables[2]))[0]
frame4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [ ]:
df = (
    frame1.append(
        frame2.append(
            frame3.append(
                frame4,
                ignore_index=True
            ),
            ignore_index=True
        ),
        ignore_index=True
    )
)

df.head()

In [ ]:
df['genres'] = df['Title'].map(lambda z: get_genre(str(z)))

In [ ]:
# Make the df_2019 to work with
# Extract [Title, Cast and crew] fron df
data_2020 = df[['Title','Cast and crew', 'genre']]

In [ ]:
# Director function
def make_director(z):
    if " (director)" in z:
        return z.split(" (director)")[0]
    elif " (directors)" in x:
        return z.split(" (directors)")[0]
    else:
        return z.split(" (director/screenplay)")[0]

In [ ]:
data_2020['director_name'] = data_2020['Cast and crew'].map(lambda z: make_director(z))

In [ ]:
def make_actor1(z):
    return ((z.split("screenplay); ")[-1]).split(", ")[0])

def make_actor2(z):
    if len((z.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((z.split("screenplay); ")[-1]).split(", ")[1])

def make_actor3(z):
    if len((z.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((z.split("screenplay); ")[-1]).split(", ")[2])

In [ ]:
# Create columns for actors in the data_2018
data_2020['actor_1_name'] = data_2020['Cast and crew'].map(lambda z: make_actor1(z))
data_2020['actor_2_name'] = data_2020['Cast and crew'].map(lambda z: make_actor2(z))
data_2020['actor_3_name'] = data_2020['Cast and crew'].map(lambda z: make_actor3(z))

# Rename Title column
data_2020 = data_2020.rename(columns={'Title':'movie_title'})

In [ ]:
# Extract the required features into a new dataframe
df20 = data_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

# Remove null values
df20['actor_2_name'] = df20['actor_2_name'].replace(np.nan, 'unknown')
df20['actor_3_name'] = df20['actor_3_name'].replace(np.nan, 'unknown')

# change movie_titles to lower case
df20['movie_title'] = df20['movie_title'].str.lower()

# Create a comb coumn
df20['comb'] = df20['actor_1_name'] + ' ' + df20['actor_2_name'] + ' '+ df20['actor_3_name'] + ' '+ df20['director_name'] +' ' + df20['genres']

In [ ]:
# Remove null values
df20 = df20.dropna(how='any')
df20.isna().sum()

In [ ]:
df20.head()

Now I will join all dataframes I retrieved together

In [ ]:
join_df = df18.append(df19, df20,ignore_index=True)
join_df.head()

I am reading the former data I saved then joining the new one

In [ ]:
old_df = pd.read_csv('./datasets/new_metadata.csv')

In [ ]:
final_df = old_df.append(final_df,ignore_index=True)

In [ ]:
final_df.head()

In [ ]:
# check for null values and remove
final_df.isna().sum()

In [ ]:
final_df = final_df.dropna(how='any')
final_df.isna().sum()

In [ ]:
# Save the final_df in a main_dataset file
final_df.to_csv('./datasets/main_dataset.csv',index=False)